#abc {
    color : red;
    /* //align : centre; */
    float: left;
    width: fit-content;
    margin-left: 25px;
    
  }

  /* .mb-3{
    color : rgb(255, 0, 140);
    padding: 15px;
    font-weight: bold;
    text-align: left;
    display: flex;
    justify-content: 'center';
    align-items: 'center';
    width : 10;
    height: 100 ;
  } */

  #ph::placeholder {
    color :rgb(0, 255, 68);

     opacity : 50%;
     font-size: 1em;
    font-style: italic;

  }

  .mb-2{
color :rgb(153, 0, 255);

padding: 15px;
font-weight: bold;
text-align: left;
display: flex;
justify-content: 'center';
align-items : 'center';
  }

  .mb-1{
color :brown
  }

  
  .container{
    border: 5px solid black;
    margin-top: 250px;
    background-color: rgb(185, 181, 181);
    max-width: '50%';
    max-height: 850px;
    margin-left: 100px;
  }
  .button1{
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    padding: 10px;

  }

  .link1{
    color:antiquewhite;
    
  }

  .link1:hover{
    color: crimson;
  }
  .button1:hover{
    background-color: rgb(208, 225, 225);
  }

 